.form-text-area {
  width: 70%;
  padding: 15px;
  margin: 1vh auto;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.child {
  width: 70%;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #666;
  cursor: pointer;
  &:hover {
    background-color: #dcdcdc;
    transition: background-color 0.4s;
  }
}