.app-introduction {
  width: 90vw;
  margin: 5vh auto;
  color: #313131;
  .catch-copy {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 3vh 0 5vh 0;
  }
}
.main {
  a {
    text-decoration: none;
  }
  .update-title {
    width: 100%;
    color: #ffffff;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    li {
      width: 32%;
      text-align: center;
      white-space: nowrap;
      padding: 1vh calc((100% - (32% * 3)) / 6);
      cursor: pointer;
      &:not(.update-active):hover {
        color: #313131;
        background-color: #dcdcdc;
        transition: background-color 0.7s;
      }
    }
  }
}

.update-active {
  background-color: #ffffff;
  color: #313131;
  font-weight: 400;
  border: 1px solid #dcdcdc;
}

#new-content {
  display: block;
}

.update-content {
  display: none;
  li {
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    color: #000000;
    padding: 1vh 0 1vh 3vw;
    border-bottom: 1px solid #dcdcdc;
    &:last-child{
      border-bottom: none;
    }
    .update-date {
      margin: 0 5vw;
    }
    .update-text {
      color: #000000;
      left: 1.5rem;
    }
    .update-link {
      color: #000000;
      position: relative;
      top: 1vh;
      left: 5vw;
    }
    .manifest-link {
      display: block;
      margin-right: 3vw;
      color: #000;
      &:hover {
        border-bottom: 1px solid #666;
      }
    }
    .posted-user {
      margin: 0 2vw;
    }
    .manifest-description {
      height: 20px;
    }
    .tag-link {
      display: inline-block;
      padding: 2px 4px;
      margin: 0 2vw;
      background-color: #dcdcdc;
      border-radius: 4px;
      font-size: 12px;
      color: #666;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* レスポンシブ */
$breakpoint-sm: 420px !default;

@media (max-width: #{$breakpoint-sm}) {
  .update-date {
    font-size: 12px;
  }
}