.prefecture-name{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.council-list {
  line-height: 30px;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.council-content {
  margin: 4vh 2vw;
  padding: 0px 10px 20px 10px;
  border-bottom: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.council-name {
  width: 110px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-right: 15px;
}

.show-assembly {
  width: 80px;
  height: 30px;
  background-color: #E57F19;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  display: block;
}

.show-assembly:hover {
  opacity: 0.7;
  transition: opacity 0.4s;
}