.council-list {
  margin: 3vh 4vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .council-content {
    margin: 3vh 0;
    padding: 1vh 2vw;
    border-bottom: 1px solid #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* レスポンシブ */
$breakpoint-sm: 420px !default;
$breakpoint-md: 550px !default;
$breakpoint-lg: 768px !default;

@media (max-width: #{$breakpoint-lg}) {
  .main {
    font-size: 0.9rem;
  }
}
@media (max-width: #{$breakpoint-md}) {
  .main {
    margin: 0 auto;
    .council-content {
      width: 100%;
      .blue-link-btn {
        width: 30%;
      }
    }
  }
}