
.comments-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.field{
  width: 400px;
  height: 150px;
  display: block;
  padding: 10px auto;
  margin: 0 auto;
  border-radius: 4px;
}

.form__btn{
  display: block;
  padding: 0 10px;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 4px;
}

.form__btn:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  transition: background-color 0.4s;
}

.coution {
  margin-top: 20px;
}

.coution-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.coution>p{
  font-size: 12px;
}