.prefecture-name {
  margin-bottom: 30px;
}

.updated_info {
  text-align: center;
}

.assemblymen-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assemblyman-profile {
  width: 500px;
  margin: 20px 3vw 20px 0;
  display: flex;
  border-top: 1px solid #666666;
}

.assemblyman-content {
  justify-content: center;
}

.assemblyman-img {
  height: 160px;
  width: 120px;
  margin-top: 30px;margin-right: 5px;
  padding: 15px;
}

.profile-name {
  width: 300px;
  margin-top: 45px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.profile-faction {
  width: 150px;
  margin: 20px auto;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  background-color: #666666;
}

.show-profile {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #E57F19;
  margin: 0 auto;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.show-profile:hover {
  opacity: 0.7;
  transition: opacity 0.4s;
}