.search-btn {
  width: 150px;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 4px;
  color: #000;
  white-space: nowrap;
  position: relative;
  top: -5px;
  right: -80%;
  &:hover {
    text-decoration: underline;
  }
}

.chart-area {
  width: 90%;
  height: 170px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  .chart-content {
    width: 40%;
    height: 250px;
    p {
      text-align: center;
      font-weight: 400;
      padding-bottom: 20px;
    }
  }
}
  
  // レスポンシブ
  $breakpoint-md: 550px !default;
  $breakpoint-lg: 768px !default;
  $breakpoint-sl: 1200px !default;
  
  @media(min-width: #{$breakpoint-sl}) {
    .profile-faction {
      font-size: 18px;
    }
  }
@media(max-width: #{$breakpoint-lg}) {
  .assemblymen-list {
    .assemblyman-content {
      width: 45vw;
    }
  }
}
@media(max-width: #{$breakpoint-md}) {
  .chart-area {
    display: block;
    height: 60%;
    padding-bottom: 3vh;
    .chart-content {
      width: 90%;
      height: 200px;
      padding-bottom: 15px;
      margin: 2vh auto;
    }
  }
  .assemblymen-list {
    .assemblyman-content {
      width: 90vw;
    }
  }
}