.update {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2vh 10vw;
  .profile-heading {
    margin-right: 20px;
  }
  .edit-assemblyman-link {
    color: #666;
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #666;
    border-radius: 4px;
    &:hover {
      background-color: #dcdcdc;
      transition: background-color 0.7s;
    }
  }
}

.main {
  h1 {
    font-size: 30px;
  }
  .profile-area {
    width: 70vw;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-details {
      width: 40vw;
      height: 40%;
      text-align: center;
      .assemblyman-img {
        width: 240px;
        height: 320px;
        margin: 3vh 0;
      }
      .profile-wrap {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .profile-heading {
          font-weight: 400;
          white-space: nowrap;
          padding: 0 2vw;
        }
      }
    }
  }
  .tweet-area {
    max-width: 40vw;
    max-height: 50%;
    margin-left: 10vw;
    padding-top: 5%;
    text-align: center;
  }
  .comment-area {
    margin: 3vh auto;
    .comment-list{
      width: 80vw;
      margin: 2vw auto;
      display: flex;
      flex-direction: column-reverse; 
      .comment-content{
        margin: 0;
        padding: 3vh 3vw 3vh 5vw;
        border-top: 1px solid #666666;
        .comment-user{
          color: #214b7d;
          font-weight: bolder;
        }  
        .comment-text {
          display: inline;  
        }
        .delete-comment {
          color: #ff0000;
          margin-left: 20px;
          font-weight: 300;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    p {
      background-color: #dcdcdc;
      text-align: center;
    }
    .comment-link-btn {
      width: 150px;
      padding: 1vh 2vw;
      margin: 0 auto;
      color: #666666;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      border: 1px solid #666666;
      border-radius: 4px;
      display: block;
      &:hover {
        background-color: #dcdcdc;
        transition: background-color 0.7s;
      }
    }
  }
}

// レスポンシブ
$breakpoint-md: 550px !default;
$breakpoint-lg: 768px !default;
$breakpoint-sl: 1200px !default;

@media(min-width: #{$breakpoint-sl}) {
  .assemblyman-profile-details {
    .profile-wrap {
      padding-bottom: 3vh;
      .profile-heading {
        font-size: 1.5rem;
      }
      .profile-text {
        font-size: 1.5rem;
      }
    }
  }
}
@media(max-width: #{$breakpoint-lg}) {
  .main {  
    .assemblyman-profile-details {
      .council-name {
        font-size: 25px;
        margin-bottom: 2vh;
      }
      .edit-assemblyman-link {
        top: -6vh;
      }
    }
    .comment-link-btn {
     width: 25%;
    }
  }
} 
@media(max-width: #{$breakpoint-md}) {
  .main {  
    .assemblyman-profile-details {
      .update {
        justify-content: center;
        flex-wrap: wrap;
        .profile-heading {
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
        .edit-assemblyman-link {
          margin-top: 4vh
        }
      }
      .council-name {
        font-size: 18px;
        white-space: normal;
      }
      .profile-background {
        display: block;
        text-align: center;
        .assemblyman-img {
          width: 40vw;
          margin: 0 auto;
        }
        .profile-wrap {
          width: 60vw;
          margin: 0 auto;
          .profile-heading {
            font-size: 14px;
          }
          .profile-text {
            font-size: 14px;
          }
        }
      }
    }
  }
} 