.assemblyman-profile-details {
  margin: 0 auto;
}

.profile-background {
  width: 80vw;
  margin: 2vw auto;
  border: 1px solid #666666;
}

.assemblyman-profile-details>.council-name {
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  margin: 1vh auto;
}

.background {
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.background>.assemblyman-img {
  width: 250px;
  height: auto;
  padding: 0 2vw;
}

.profile-details {
  width: 300px;
}

.profile-wrap {
  margin: 2vh auto;
  font-size: 20px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.profile-heading {
  font-weight: 400;
  padding: 0 2vw;
}

.assemblyman-profile-details>.blue-link-btn {
  margin: 3vh auto;
}

.comment-link {
  position: relative;
  margin: 2vh auto;
}

.pen-img {
  width: auto;
  height: 4vh;
  position: absolute;
  left: 3vw;
}

.comment-link-text {
  color: #666666;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  padding: 3vh 4vh 3vh 11vw;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.comment-link-text:hover {
  background-color: #dcdcdc;
  transition: background-color 0.7s;
}

.comments-lists{
  width: 80vw;
  margin: 2vw auto;
  display: flex;
  flex-direction: column-reverse;
}

.comments-list{
  margin: 0;
  padding: 10px 10px 10px 3vw;
  border-top: 1px solid #666666;
}

.comment-user{
  padding-right: 20px;
  color: #214b7d;
  font-weight: bolder;
}

.comment-text {
  font-size: 14px;
  display: inline;  
}

@media(max-width: 600px) {
  .assemblyman-profile-details>.council-name {
    font-size: 18px;
  }
  .profile-background {
    width: 90vw;
    margin: 4vh auto;
  }
  .background>.assemblyman-img {
    width: 20vw;
    height: auto;
    padding-right: 2vw;
  }
  .profile-wrap {
    font-size: clamp(12px, 14px, 16px);
  }
}