.main {
  .assemblyman-profile-details {
    width: 90vw;
    margin: 1vh auto;
    .council-name {
      margin-bottom: 4vh;
      font-size: 30px;
    }
    .edit-assemblyman-link {
      padding: 5px;
      margin-left: 75vw;
      position: relative;
      top: -7.5vh;
      &:hover {
        background-color: #dcdcdc;
        border-radius: 50%;
        transition: background-color 0.4s;
      }
    }
    .profile-background {
      display: flex;
      justify-content: center;
      align-items: center;
      .assemblyman-img {
        width: 20%;
        height: auto;
      }
      .profile-details {
        width: 40%;
        padding-left: 10vw;
        .profile-wrap {
          margin: 2vh auto;
          font-size: 1rem;
          display: flex;
          justify-content: space-between;
          .profile-heading {
            font-weight: 400;
            white-space: nowrap;
            padding: 0 2vw;
          }
        }
      }
    }  
  }
  // Twitterタイムライン
  .tweet-area {
    width: 70vw;
    padding: 0 5vw;
    text-align: center;
    margin: 0 auto;
    .twitter_icon_circle {
      width: 10vw;
      max-width: 100px;
      padding: 0 30vw;
      margin: 5vh 0;
    }
  }
  .blue-link-btn {
    margin: 3vh auto;
  }
  // コメントエリア
  .comments-list{
    width: 80vw;
    margin: 2vw auto;
    display: flex;
    flex-direction: column-reverse; 
    .comment-content{
      margin: 0;
      padding: 3vh 3vw 3vh 5vw;
      border-top: 1px solid #666666;
      .comment-user{
        color: #214b7d;
        font-weight: bolder;
      }  
      .comment-text {
        display: inline;  
      }
    }
    .notes {
      width: 100%;
      font-size: 90%;
      text-align: center;
    }
  }
}
.comment-link-btn {
  width: 8vw;
  padding: 0.5vh 2vw;
  margin: 0 auto;
  color: #666666;
  font-size: 80%;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #666666;
  border-radius: 4px;
  display: block;
  &:hover {
    background-color: #dcdcdc;
    transition: background-color 0.7s;
  }
}

// レスポンシブ
$breakpoint-md: 550px !default;
$breakpoint-lg: 768px !default;
$breakpoint-sl: 1200px !default;

@media(min-width: #{$breakpoint-sl}) {
  .assemblyman-profile-details {
    .profile-wrap {
      padding-bottom: 3vh;
      .profile-heading {
        font-size: 1.5rem;
      }
      .profile-text {
        font-size: 1.5rem;
      }
    }
  }
}
@media(max-width: #{$breakpoint-lg}) {
  .main {  
    .assemblyman-profile-details {
      .council-name {
        font-size: 25px;
        margin-bottom: 2vh;
      }
      .edit-assemblyman-link {
        top: -6vh;
      }
    }
    .comment-link-btn {
     width: 25%;
    }
  }
} 
@media(max-width: #{$breakpoint-md}) {
  .main {  
    .assemblyman-profile-details {
      .council-name {
        font-size: 18px;
        white-space: normal;
      }
      .profile-background {
        display: block;
        text-align: center;
        .assemblyman-img {
          width: 50vw;
          margin: 0 auto;
        }
        .profile-wrap {
          width: 70vw;
          .profile-heading {
            font-size: 14px;
          }
          .profile-text {
            font-size: 14px;
          }
        }
      }
    }
  }
} 