.main {
  h1 {
    margin-top: 2vh;
  }
  .main-text-area {
    margin: 5vh 10vw; 
    line-height: 30px;
    h2 {
      text-align: left;
      padding-bottom: 15px;
      margin: 3vh 0;
      border-bottom: 1px solid #666;
    }
  }
}