.breadcrumbs {
  padding: 10px 0 0 4vw;
  font-size: 14px;
  color: #666;
  ul {
    display: flex;
    align-items: center;
    span {
      padding: 0 5px;
      cursor: auto;
    }
    li {
      line-height: 24px;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .current {
        font-weight: 400;
      }
    }
  }
}

  // レスポンシブ
$breakpoint-md: 550px !default;

@media(max-width: #{$breakpoint-md}) {
  .breadcrumbs {
    padding: 10px 0;
    font-size: 12px;
    ul {
      justify-content: center;
    }
  }
}