.top-page-header {
  background: linear-gradient(-135deg,#2a83a2,#214b7d);
  color: #ffffff;
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.top-container {
  padding: 3vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.logo-icon {
  max-width: 100%;
  margin: 0 20px 0 10px;
}

.user-session {
  text-align: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.registration-link {
  color: #ffffff;
  margin-right: 20px;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.login-link {
  color: #ffffff;
  margin-right: 10px;
}

/* ハンバーガーメニュー */
.material-icons {
  padding: 2vh 3vw 0 2vw;
  cursor: pointer;
}

.hamburger-menu {
  float: right;
  display: none;
  position: relative;
}

.hidden-menu-list {
  width: 25vw;
  background-color: #313131;
  color : #ffffff;
  font-weight: 400;
  display: none;
  border-radius: 4px;
  position: absolute;
  top: 4vh;
  right: 0;
}

.hidden-menu-list {
  li {
    padding: 15px 15px;
  }
}

.close-btn {
  height: 24px;
  color: #313131;
  cursor: pointer;
}

.hidden-registration-link, .hidden-login-link {
  color: #ffffff;
}
/* ハンバーガーメニュー */

/* 地域選択タブ */
.region-tab {
  width: 95vw;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.region-tab {
  li {
  padding: 2vh calc((100% - 380px) / 14);
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
  }
}

.active {
  background-color: #ffffff;
  color: #313131;
  border-bottom: 1px solid #dcdcdc;
}

.region-tab li:not(.active):hover {
  padding-top: 10px;
}
/* 地域選択タブ */

/* 都道府県リスト */

.hidden {
  position: relative;
}

.prefecture-list {
  width: 95vw;
  padding: 1vh 1vw;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 2.5vw;
  border-bottom: 1px solid #dcdcdc;
}

.prefecture-link {
  color: #313131;
  font-weight: 400;
  &:hover {
  text-decoration: underline;
  }
}

.close-btn {
  .material-icons {
    padding: 0;
  } &:hover {
  border-bottom: 1px solid #313131;
  }
}

/* レスポンシブ */
$breakpoint-sm: 420px !default;
$breakpoint-md: 550px !default;

@media (max-width: #{$breakpoint-md}) {
  .hamburger-menu {
    display: block;
  }
  
  .user-session {
    display: none;
  }
}
@media (max-width: #{$breakpoint-sm}) {
  .hidden-menu-list{
    width: 35vw;
  }

  .region-tab {
    li {
      font-size: 0.7rem;
      padding-right: 2px;
      padding-left: 2px;
    }
  }
  
  .region-tab, .prefecture-list {
    justify-content: space-between;
  }
  
  .prefecture-list {
    padding: 1vh 0;
  }

  .prefecture-link {
    font-size: 0.5rem;
    padding-right: 1vw;
    padding-left: 1vw;
  }
}