.second-header {
  height: 80px;
  width: 100%;
  background: linear-gradient(-135deg,#92d9f3,#214b7d);
  .logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-icon {
      height: 70px;
    }
    .logo-text {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
    }
  }
}