.second-footer {
  flex: 1;
  height: clamp(30px, 5vh, 50px);
  background-color: #214b7d;
  margin-top: 12vh;
}

.second-footer-text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-footer-text {
  padding-right: 15px;
  color: #ffffff;
  font-size: 12px;
}