.second-header {
  width: 100%;
  min-width: 800px;
  height: 25vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
}