.second-footer {
  height: clamp(30px, 5vh, 50px);
  background: linear-gradient(-135deg,#666666, #313131);
  margin: 12vh 0 0;
}

.second-footer-text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around
}

.second-footer-text-wrap>.twitter-icon {
  padding-right: 10vw;
  margin: 0;
}

.second-footer-text {
  padding-right: 15px;
  color: #ffffff;
  font-size: 12px;
}

.twitter-icon {
  width: clamp(3vw, 5vw, 10vw);
  margin: 0 0 2vh 0;
}