.second-footer {
  height: 50px;
  background: linear-gradient(-135deg,#666666, #313131);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 0;
}

.second-footer-text {
  color: #ffffff;
  margin-top: 20px;
}

.twitter-icon {
  width: 30px;
  margin: 1vh 0;
}

/* レスポンシブ */
$breakpoint-sm: 420px !default;

@media (max-width: #{$breakpoint-sm}) {
  .twitter-icon {
    width: 25px;
  }
}