.second-footer {
  flex: 1;
  height: clamp(100px, 15vh, 200px);
  background-color: #214b7d;
}

.second-footer-text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-footer-logo {
  height: 100px;
  margin: 0 auto;
}

.second-footer-text {
  padding-right: 15px;
  color: #ffffff;
  font-size: 12px;
}