.second-header {
  height: 80px;
  width: 100%;
  background: linear-gradient(-135deg,#92d9f3,#214b7d);
  .logo-text {
    display: block;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }
  .footer-contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    align-items: center;
  }
}