.second-footer {
  height: 50px;
  background: linear-gradient(-135deg,#666666, #313131);
  position: absolute;
  bottom: 0;
  .footer-contents {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-link {
    color: #fff;
    text-decoration: none;
    display: block;
    align-items: center;
  }
}