<header class='top-page-header'>
  <%= link_to image_tag("logo-color.png", class:"logo-icon"), "/" %>
  <p class='header-description'>
      地方選や地方議員の情報を掲載！
  </p>
  <%= link_to '新規登録', '#', class:'login-btn' %>
  <%= link_to 'ログイン', '#', class:'sign-up-btn' %>

  <%# 地域選択リスト %>
  <ul class="region-list">
    <li class="hokkaido-tohoku" id='hokkaido'>北海道・東北</li>
    <li class="kanto">関東</li>
    <li class="chubu">中部</li>
    <li class="kinki">近畿</li>
    <li class="chugoku-shikoku">中国・四国</li>
    <li class="kyushu-okinawa">九州・沖縄</li>
  </ul>
  <%# 地域選択リスト %>
</header>



