<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p><%= link_to (image_tag 'Twitter social icons - rounded square - blue', class:'twitter-icon'), '#' %></p>
    <p class='second-footer-text'>プライバシーポリシー</p>
    <p class='second-footer-text'>利用規約</p>
  </div>
</footer>