<footer class='second-footer'>
  <ul class='footer-contents'>
    <li><%= link_to '利用ガイド', page_path('usege-guide'), class: "footer-link" %></li>
    <li><%= link_to 'プライバシーポリシー', page_path('privacy-policy'), class: "footer-link" %></li>
    <li><%= link_to 'お問い合わせ', "https://forms.gle/fKgCHjQ7Tq8UMJYD9", class: "footer-link" %></li>
  </ul>
</footer>