<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p class='second-footer-text'>プライバシーポリシー</p>
    <p class='second-footer-text'>利用規約</p>
  </div>
  <%= image_tag "logo-color.png", class:"second-footer-logo"%>
</footer>