<%= render 'shared/header'%>
<div class='main'>
  <h1>プライバシーポリシー</h1>
  <div class='main-text-area'>
    <h2 class='council-name'>個人情報について</h2>
    ・パスワード情報などの入力内容は、暗号化されて送信されますのでご安心ください。</p>
    <h2 class='council-name'>お問い合わせについて</h2>
    ・ご質問やサイト改善要望等は<a href='https://forms.gle/1nawgoj3X9jPFqJP6'>Googleフォーム</a>へお寄せください。<br />
    ・本ウェブサイト<a href='https://twitter.com/LocalElections_'>公式Twitterアカウント（＠LocalElections_）</a>でもお問い合わせを受け付けております。<br />
    ・原則、頂いた要望等への返信は行いませんので、ご承知おきください。<br />
  </div>
</div>
<%= render 'shared/footer'%>