<%= render 'shared/header'%>
<div class='main'>
  <h1 class='prefecture-name'>利用ガイド</h1>
  <div class='main-text-area'>
    <h2 class='council-name'>議員情報について</h2>
    ・議員情報は各自治体ホームページを基に作成しております。</p>
    ・ユーザーが情報を編集する際には、ユーザーの責任の下、自治体や所属政党等が発信する情報等を基に作成してください。</p>
    <h2 class='council-name'>禁止行為について</h2>
    ・特定の個人や人種等を誹謗中傷する投稿は管理者が予告なく削除する場合があります。<br />
    ・上記のような投稿を繰り返すユーザーのアカウント権限を停止、または削除する場合があります。<br />
  </div>
</div>
<%= render 'shared/footer'%>