<%= render 'shared/second-header' %>

<%# パンくずリスト %>
<% breadcrumb :tag %>
<%= render 'shared/breadcrumbs' %>

<div class='main'>
  <h1>タグ一覧</h1>
  <div class='tag-list'>
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag.id), class: 'tag-content' %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>