.council-list {
  .council-content {
    width: 100vw;
    padding: 1vh 0;
    margin: 0 auto;
    border-bottom: 1px solid #666;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      background-color: #dcdcdc;
      transition: background-color 0.4s;
      a {
        color: #000;
      }
    }
  }
}

/* レスポンシブ */
$breakpoint-sm: 420px !default;
$breakpoint-md: 550px !default;
$breakpoint-lg: 768px !default;

@media (max-width: #{$breakpoint-lg}) {
  .main {
    font-size: 0.9rem;
    .council-content {
    }
  }
}
@media (max-width: #{$breakpoint-md}) {
  .main {
    margin: 0 auto;
    .council-content {
      width: 100%;
    }
  }
}