.council-list {
  margin: 1vh 10vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  a {
    display: block;
    padding: 1vh 0;
    margin: 0 auto;
    color: #222;
    font-size: 1.2rem;
    font-weight: 400;
    &:hover {
      font-size: 1.4em;
      text-decoration: underline;
      transition: background-color 0.4s;
    }
  }
}

/* レスポンシブ */
$breakpoint-sm: 420px !default;
$breakpoint-md: 550px !default;
$breakpoint-lg: 768px !default;

@media (max-width: #{$breakpoint-lg}) {
  .main {
    font-size: 0.9rem;
    .council-content {
    }
  }
}
@media (max-width: #{$breakpoint-md}) {
  .main {
    margin: 0 auto;
    .council-content {
      width: 100%;
    }
  }
}