.registration-main {
  text-align: center;
  margin: 3vh auto;
  border-top: 1px solid #dcdcdc;
  .select_field {
    height: 50px;
    margin: 2vh 0;
  }
  .register-btn {
    margin: 5vh auto;
  }
}