.search-btn {
  width: 150px;
  text-align: center;
  color: #000;
  display: block;
  margin: 2vh auto;
  &:hover {
    text-decoration: underline;
  }
}

.chart-area {
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  margin: 3vh auto;
  .chart-content {
    width: 40% ;
    // height: 100%;
    p {
      text-align: center;
      font-weight: 400;
      padding-bottom: 20px;
    }
  }
}

.assemblymen-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  .assemblyman-content {
    width: 30vw;
    padding: 2vh 1vw;
    margin: 1vh 0;
    border-top: 1px solid #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .assemblyman-img {
      width: 25%;
      margin: 0 2vw;
    }
    .profile-content {
      width: 80%;
      .council-name {
        font-size: 90%;
      }
      .profile-faction {
        margin: 2.5vh auto;
        color: #ec6800;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
      }
      .blue-link-btn {
        margin: 0 auto;
      }
    }
  }
}

// レスポンシブ
$breakpoint-md: 550px !default;
$breakpoint-lg: 768px !default;
$breakpoint-sl: 1200px !default;

@media(min-width: #{$breakpoint-sl}) {
  .profile-faction {
    font-size: 18px;
  }
}
@media(max-width: #{$breakpoint-lg}) {
  .assemblymen-list {
    .assemblyman-content {
      width: 45vw;
    }
  }
}
@media(max-width: #{$breakpoint-md}) {
  .chart-area {
    display: block;
    height: 50%;
    padding-bottom: 3vh;
    .chart-content {
      width: 90%;
      height: 200px;
      padding-bottom: 15px;
      margin: 2vh auto;
    }
  }
  .assemblymen-list {
    .assemblyman-content {
      width: 90vw;
    }
  }
}