.updated-info {
  text-align: center;
  font-weight: 400;
  margin: 2vh;
}

.assemblymen-list {
  // width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
  .assemblyman-content {
    width: 45vw;
    padding: 2vh 1vw;
    margin: 1vh 0;
    border: 1px solid #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .assemblyman-img {
      width: 25%;
      margin: 0 2vw;
    }
    .profile-content {
      width: 80%;
      .council-name {
        padding: 0;
      }
      .profile-faction {
        margin: 2.5vh auto;
        color: #ec6800;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
      }
      .blue-link-btn {
        margin: 0 auto;
      }
    }
  }
}

// レスポンシブ
$breakpoint-md: 550px !default;
$breakpoint-sl: 1200px !default;

@media(min-width: #{$breakpoint-sl}) {
  .profile-faction {
    font-size: 18px;
  }
}
@media(max-width: #{$breakpoint-md}) {
  .assemblymen-list {
    .assemblyman-content {
      width: 90vw;
    }
  }
}