.prefecture-name {
  margin-bottom: 3vh;
}

.updated-info {
  text-align: center;
  font-weight: 400;
  margin: 2vh;
}

.assemblymen-list {
  margin: 4vh 2vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.assemblyman-content {
  width: 28vw;
  padding: 2vh 1vw;
  margin: 1vh 0;
  border: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.assemblyman-img {
  width: 30%;
  height: auto;
}

.profile-content {
  width: 100%;
  border: none;
  margin: 0 auto;
  justify-content: center;
}

.profile-content>.council-name {
  width: 100%;
  font-weight: 500;
}

.profile-faction {
  width: clamp(5vw, 10vw, 15vw);
  margin: 4vh auto;
  padding: 0 2vw;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #666666;
}

.profile-content>.blue-link-btn {
  width: clamp(5vw, 10vw, 15vw);
  margin: 0 auto;
}

@media(max-width: 1200px) {
  .assemblyman-content {
    width: 40vw;
  }
  .profile-faction {
    font-size: 14px;
  }
}
@media(max-width: 750px) {
  .assemblyman-content {
    width: 80vw;
  }
}
@media(max-width: 300px) {
  .assemblyman-content {
    border: none;
  }
  .assemblyman-img {
    width: 70px;
    height: 100px;
    padding-top: 10px;
    margin-right: 1vw;
  }
}