.registration-main {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: clamp(40%, 50%, 60%);
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
}

.form-header-text {
  font-size: 18px;
  line-height: 10vh;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
  margin-top: 2vh;
}

.form-text {
  font-weight: 300;
}

.indispensable {
  margin-left: 1vw;
  color: #214b7d;
  font-weight: 400;
  vertical-align: bottom;
}

.input-default {
  width: calc(100% - 2vw);
  height: clamp(30px, 6vh, 50px);
  padding-left: 2vw;
  margin-top: 2vh;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.info-text {
  color: #666666;
  margin-top: 1vh;
}

.field_with_errors {
  display: contents;
}

.form-bottom-text {
  text-align: center;
  padding: 15px 0;
}

.form-bottom-text:last-child {
  font-weight: 300;
  margin: 0;
}

.form-bottom-text>span {
  color: #214b7d;
  cursor: pointer;
}

.register-btn {
  width: 70%;
  margin: 0 auto;
}

.register-blue-btn {
  width: 100%;
  background: #214b7d;
  border: 1px solid #214b7d;
  margin: 4vh auto;
  color: #fff;
  line-height: 48px;
  cursor: pointer;
}

.register-info {
  color: #214b7d;
  text-align: center;
  cursor: pointer;
}